body {
	font: normal 1em arial;
	margin: 0;
  padding: 0;
  width: 100%;
	height: 100%;
  display: block;
}

#splash {
	background: url(../images/splash_outdoors.jpg) center bottom no-repeat;
	background-size: cover;
	height: calc(90%);
	margin-bottom: 10px;
}

#buttonbar {
	width: 500px;
	margin-left: auto;
}

#buttonbar li {
	display: inline-block;
	padding: 50px 30px 0 30px;
}

#buttonbar li a {
	text-decoration: none;
	font-size: 1.8em;
	color: white;
}

#buttonbar li a:hover {
	color: rgba(255, 255, 255, .4);
}

#splash h1 {
	width: 600px;
	margin: 130px auto 0 auto;
	text-align: center;

}

h1 {
	color: white;
	font-size: 3em;
}

#workbutton {
	display: block;
	width: 110px;
	margin: 40px auto 100px auto;
	background: rgb(255, 64, 0);
	text-decoration: none;
	color: white;
	font-size: 1.1em;
	padding: 10px 15px;
	text-align: center;
	border-radius: 4px;
}

#workbutton:hover {
	background: rgba(255, 64, 0, .4);
}

.icon {
	display: inline-block;
	margin: 20px 0 0 10%;
}

.icon img {
	display: block;
	margin: 0 auto;
	width: 50%;
}

.icon h3 {
	text-align: center;
	display: block;
}

.topbar {
	background: rgb(72, 87, 89);
}

.topbar h1 {
	padding: 0 0 30px 60px;
}

#students {
	display: inline-block;
	width: 60%;
}

.sidebar {
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	width: 30%;
}

.sidebar h4 p {
	color: black;
	background: blue;
}
