body {
	background-color: rgb(238, 238, 238);
	color: black;
	margin: 0;
}


nav {
	background-color: rgb(221, 221, 221);
	margin: 20px;
	display: block;
	border-radius: 30px;
}

nav h1 {
	font-size: 3em;
	padding: 20px 10px;
}


div.sidemenu {
	background-color: rgb(221, 221, 221);
	border-radius: 30px;
	margin: 0 20px;
	padding: 15px;
	display: inline-block;
}

div p {
	padding: 10px;
}

div ul.links {
	padding: 0 20px;
	margin: 0;
}

.myessay {	
	display: inline-block;
	vertical-align: top;
	border-radius: 30px;
	padding: 10px 20px;
	background-color: rgb(170, 170, 170);
}

div.myessay ul li{
	padding: 10px;
}


footer {
	background-color: rgb(221, 221, 221);
	border-radius: 30px;
	height: 50px;
	padding: 10px 10px 20px 0;
	margin: 20px;
}

footer ul {
	list-style-type: none;
}